.projects-anime-wrapper {
  height: 100vh;
  width: max-content;

  .projects-container {
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
    position: absolute;
    z-index: 100;

    @media screen and (max-width: $phone) {
      margin-left: 3rem;
    }

    .showcase-projects-container {
      display: flex;
      flex-direction: row;
      margin: 1rem 0;

      .showcase-project {
        width: 100%;
        height: 10rem;
        margin-right: 1rem;
        box-shadow: 0rem 0rem 0.3rem 0.3rem rgba(0,0,0,0.5);
        cursor: pointer;

        @media screen and (max-width: $tablet) {
          height: 8rem;
        }

        @media screen and (max-width: $phone-lg) {
          height: 6rem;
        }

        @media screen and (max-width: $phone) {
          height: 4rem;
        }

        @media screen and (max-width: $phone-sm) {
          height: 4rem;
        }
      }
    }

    &.hidden {
      opacity: 0.1;
    }
  
    .title {
      font-weight: bold;
      font-size: 7rem;

      @media screen and (max-width: $phone) {
        font-size: 4rem;
      }
    }
  
    .sub-title {
      font-size: 2rem;
    }
  
    .links {
      display: flex;
      margin-top: 2rem;
  
      a {
        display: flex;
        flex-direction: row;
        margin-right: 2rem;
        text-decoration: none;
        color: var(--fontColor);
        -webkit-transition: color 0.3s linear 0.5s;
        -ms-transition: color 0.3s linear 0.5s;
        transition: color 0.3s linear 0.5s;
  
        span {
          font-size: 1.5rem;
          align-self: center;
          margin-left: 0.5rem;
          color: var(--fontColor);
          -webkit-transition: color 0.3s linear 0.5s;
          -ms-transition: color 0.3s linear 0.5s;
          transition: color 0.3s linear 0.5s;
        }
  
        &:hover {
          color: #C5C6C7;
  
          i {
            transform: scale(1.4);
          }
        }
  
        i {
          font-size: 1.5rem;
          transition: all linear 0.2s;
          align-self: center;
        }
      }
    }
  }

  .anime-container {
    height: 100vh;
  }
}
