@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import 'components/AboutMe.scss';

body {
  margin: 0;
  width: 100%;
  height: 100%;
  color: #66FCF1;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

canvas {
  position: absolute;
}

.portfolio-container {
  background-color: var(--backgroundColorFrom);
  z-index: 10;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  -webkit-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;

  &.color-transition {
    background-color: var(--backgroundColorTo);
  }

  .canvas-wrapper {
    div {
      position: absolute;
    }
  }
}